// cSpell:ignore mstyle shortcode 
// Create styles to be used with the mstyle shortcode
.sup {
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
}

.sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: normal;
  }

.underline {
    text-decoration-line: underline;
}
